/* @import url("https://rsms.me/inter/inter.css"); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rest of your CSS styles */
* {
  font-family: "Inter var", sans-serif;
  font-weight: 400;
}

.customize {
  font-family: 'Josefin Sans', sans-serif;
}

@font-face {
  font-family: sans-serif;
  src: url("../public/font/peignot/Peignot.ttf");
}

::selection {
  color: #ffffff; 
  background-color: #B88E72;
}
